article.filter {
    display: flex;    
    padding: 2rem;
    gap: 2rem;
}

article.filter h3 {
    font-size: 1.25rem;
    font-weight: 800;
}

article.filter a.reset {
    font-size: .75rem;
    color: #019E85;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

article.filter .form {
    width: 20rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

article.filter .form header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
    height: 1rem;
}

article.filter .form form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

article.filter .form-item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

article.filter .form-item label {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: block;
    font-size: .75rem;
}

article.filter .form-item .input-group {
    display: flex;
    gap: .5rem;
}

article.filter .form-item input, 
article.filter .form-item select {
    padding: 1rem .75rem;
    border: none;
    border-radius: 4px;
    flex: 1;
    width: 100%;
    background-color: #f6faf7;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

article.filter .form-item select {
    appearance: none;
    background-color: transparent;
}

article.filter .form-item select:focus, article.filter .form-item select:active {
    outline: none;
}

article.filter .property-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #f6faf7;
    border-radius: 4px;
    position: relative;
}

article.filter .property-selector img {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

article.filter .result {
    min-width: 20rem;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article.filter .result iframe {
    width: 100%;
    min-height: 48rem;
    display: block;
    border-radius: 1rem;
}

article.filter .result .list {
    display: flex;    
    gap: 2rem;
    overflow-x: auto;
}

article.filter .result .list figure {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

article.filter .result .list figure:hover figcaption {
    text-decoration: underline;
}

article.filter .result .list figure figcaption {
    font-size: 1rem;
    font-weight: 800;
    margin: .25rem 0;
}

article.filter .result .list figure small span {
    font-size: .75rem;
    font-weight: 400;
}

article.filter .result .list figure small img {
    width: .75rem;
    height: .75rem;
    color: #999;
}

article.filter .result .list figure > img {
    border-radius: 1rem;
    margin-bottom: .25rem;
}

article.filter .result .list figure .price {
    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    padding: 1rem 0;
}

article.filter .result .list figure .price .value {
    font-size: 1.5rem;
    font-weight: 800;
}

article.filter .result .list figure .price .unit {
    font-size: 1rem;
    font-weight: 500;
}

/* submit button */
article.filter form button[type="submit"] {
    padding: .75rem;
    cursor: pointer;
    background: #000;
    color: #fff;
    border: none;
    border-radius: .5rem;
    font-size: 1rem;
    transition: background 0.1s;
    font-weight: 600;
}

article.filter form button[type="submit"]:hover {
    background: #333;
}

/* toggle tags */
.toggle-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: .5rem;
}

/* hide the checkbox */
.toggle-tags .tag input[type="checkbox"] {
  display: none;
}

article.filter .toggle-tags .tag label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.toggle-tags .tag label:hover {
    background-color: #f6faf7;
    text-decoration: underline;
}

.toggle-tags .tag label img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    user-select: none;
}

.toggle-tags .tag label span {
    display: inline-block;
    white-space: nowrap;
    font-size: .75rem;
    font-weight: 400;
    user-select: none;
}

.toggle-tags .tag input[type="checkbox"]:checked + label {
    border-color: #333;
}

/* number of guests */
article.filter .form-item .input-number-with-buttons {
    background-color: #f6faf7;
    border-radius: .5rem;
    display: flex;
    gap: .5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

article.filter .form-item .input-number-with-buttons button, 
article.filter .form-item .input-number-with-buttons input {
    border: none;
    background: none;
}

article.filter .form-item .input-number-with-buttons input {
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: none;
}

article.filter .form-item .input-number-with-buttons button {
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #999;
    transition: color 0.1s;
}

article.filter .form-item .input-number-with-buttons button:hover {
    color: #333;
}

article.filter .form-item .input-number-with-buttons input:focus, 
article.filter .form-item .input-number-with-buttons input:active {
    outline: none;
}

/* cancellation-fee checkbox */
article.filter .form-item .cancellation-fee {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

article.filter .form-item .cancellation-fee label, 
article.filter .form-item .cancellation-fee input {
    display: inline-block;
    border: none;
    box-shadow: none;
    user-select: none;
    cursor: pointer;
}

article.filter .form-item .cancellation-fee .cancellation-fee-option {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
}

article.filter .form-item .cancellation-fee .cancellation-fee-option:hover label {
    text-decoration: underline;
}


/* Medium devices (tablets, 769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    article.filter {
        flex-direction: column;
    }
    
    article.filter .result {
        min-width: 20rem;
        width: 100%;
    }

    article.filter .form {
        min-width: 20rem;
        width: 100%;
    }
}

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    article.filter {
        flex-direction: column;
    }
    
    article.filter .result {
        min-width: 20rem;
        width: 100%;
    }

    article.filter .form {
        min-width: 20rem;
        width: 100%;
    }
}