.hamburger {
    display: block;
    position: relative;
    user-select: none;
    height: 100%;
}

.hamburger .menu {
    position: absolute;
    top: 3rem;
    right: -1rem;
    font-size: .875rem;
    opacity: 0;
    height: 0;
    text-align: right;
    padding-right: 0.75rem;
    background-color: #ffffff;
    border-radius: .5rem;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease,
                height 0.55s ease;
    z-index: 1;
}

.hamburger ul li {
    list-style: none;
    margin: 1rem;
    width: 6rem;
}

.hamburger a{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.hamburger a:hover {
  color: #019E85;
  text-decoration: underline;
}

.hamburger input {
    display: none;
}

.hamburger-slices {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 100%;
}

.hamburger:hover .hamburger-slices span {
    background: #666;
}

.hamburger .hamburger-slices span {
    display: block;
    width: 2rem;
    height: 4px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease,
                background 0.2s ease-out;
}

.hamburger input:checked + .hamburger-slices span {
    background: #333;
}

.hamburger input:checked + .hamburger-slices span:nth-child(1) {
  opacity: 1;
  transform: rotate(45deg) translateY(11px) translateX(2px);
}

.hamburger input:checked + .hamburger-slices span:nth-last-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger input:checked + .hamburger-slices span:nth-child(3) {
    opacity: 1;
  transform: rotate(-45deg)  translateY(-11px) translateX(2px);
}

.hamburger input:checked ~ .menu {
    opacity: 1;
    height: 11.5rem;
}
